# Enable mod_rewrite
RewriteEngine On

# MAINTENANCE MODE REDIRECTION
# ==================================================
# Uncomment the following 4 lines to activate maintenance mode
# RewriteCond %{REQUEST_URI} !^/maintenance\.html$ [NC]
# RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico)$ [NC]
# RewriteRule ^(.*)$ /maintenance.html [R=307,L]
# ==================================================

# Redirect www to non-www (change if needed)
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Serve the 404.html for non-existent files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /404.html [L]

# Define a custom error document for 404
ErrorDocument 404 /404.html

# Redirect deep paths back to index.html
RewriteRule ^(.*)/index$ /index.html [L,R=301]

# Force a trailing slash on directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+[^/])$ /$1/ [R=301,L]

# Leverage browser caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>

# Prevent hotlinking of images
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www\.)?iaap-pjeterbogdani.com/ [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [F]

# Enable Gzip compression for performance
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript
</IfModule>
